* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #aaaaaa;
}

header {
	margin-bottom: 5rem;
	background-color: white;
	padding: .5rem 1rem;
}

.logo {
	vertical-align: middle;
}

h1 {
	display: inline;
	vertical-align: middle;
}

main {
	margin: 4rem auto;
	max-width: 550px;
	background-color: white;
	border-radius: 10px;
}

.btns {
	padding: 1.5rem 3rem .5rem;
	border-bottom: 2px solid #aaaaaa;
}

#button-1{
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

#button-2{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: lightgray;
    padding: 5px;
}

ul {
	list-style: none;
}

.list-sections {
	padding: 1.5rem 3rem 1rem;
}

.arrow-down {
	vertical-align: -2px;
	font-size: .8em;
}

.icon-status {
	display: inline-block;
	width: 1.7em;
	height: 1.7em;
	border-width: 2px;
	border-style: solid;
	border-radius: 50%;
	text-align: center;
	font-weight: bold;
	font-size: .6em;
}

.status-tick {
	color: green;
	border-color: green;
}

.status-cross {
	color: red;
	border-color: red;
}

.tag {
	display: inline-block;
	padding: .3em .5em;
	border-radius: 1em;
	color: white;
    font-size: 12px;
}

.tag-blue {
	background-color: rgb(22, 133, 203);
}

.tag-purple {
	background-color: purple;
}

.tag-green{
    background-color: green;
}

.tag-orange{
    background-color: orange;
}

.tag-pink{
    background-color: pink;
}


.tag-lightgreen{
    background-color: aquamarine;
}

ul li{
    margin: 10px;
}
